In [96]:
import pandas as pd
import numpy as np
from numpy import array
import os

In [7]:
name = ['LSTM', ' Regression']
model_name = "model_" + name[0]
print(model_name)

model_LSTM

In [8]:
#name = "test_file"
name = ['LSTM', 'Regression']
filename = "%s.csv" % name[0]


print(filename)

LSTM.csv

In [28]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6, 7, 8, 9]})

# define the column name and three consecutive values
col = 'A'
consecutive_values = [3, 4, 5]

# get the index of the first occurrence of the consecutive values
start_index = df.loc[df[col].eq(consecutive_values[0])].index

# initialize a list to store the rows corresponding to consecutive values
rows = []

# iterate over the start indexes and check if the next two values are consecutive
for idx in start_index:
    if df.loc[idx:idx+len(consecutive_values)-1, col].tolist() == consecutive_values:
        rows.extend(range(idx, idx+len(consecutive_values)))

# use the row numbers to filter the rows of the DataFrame
result = df.iloc[rows]
start_index

Int64Index([2], dtype='int64')

In [ ]:
# Create a sample dataframe
df = pd.DataFrame({'col': [1, 3, 4, 5, 6, 8, 9]})

# Define the specific values
values = [3, 4, 5]

# Find the rows corresponding to the specific values
result = df.loc[df['col'].isin(values)]

# Check if there are three consecutive values in the result
if len(result) >= 3:
    for i in range(len(result)-2):
        if list(result['col'].iloc[i:i+3]) == values:
            print(result.iloc[i:i+3])

In [43]:
os.getcwd()

'/Users/Nafsika/Documents/My_awsome_streamlit_front_end_app'

In [59]:
path = "../OMDENA CHAPTERS/DATA/NEW_DATA/merged_wtr-level_alerts_precip_hum_temp_press_wind_with-NaN_v4.csv"

df = pd.read_csv(path, index_col = 'date', parse_dates =  True)
df.head(15)

,belgrade_water_level_cm,belgrade_flood_alert,pancevo_water_level_cm,pancevo_flood_alert,zemun_water_level_cm,zemun_flood_alert,belgrade_precipitation_mm,belgrade_pressure_hg,belgrade_temperature_c,belgrade_humidity_pct,belgrade_windspeed_kph
date,,,,,,,,,,,
2000-01-01,461.0,0,503.0,0.0,502.0,0.0,NaN,29.840065,-2.6,89.0,11.52
2000-01-02,474.0,0,516.0,0.0,516.0,0.0,0.0,29.925702,-1.3,85.0,5.04
2000-01-03,478.0,0,520.0,0.0,520.0,0.0,0.0,29.946373,-1.1,83.0,5.04
2000-01-04,474.0,0,517.0,0.0,516.0,0.0,NaN,29.792817,-1.4,93.0,2.16
2000-01-05,464.0,0,513.0,0.0,508.0,0.0,NaN,29.783958,-0.9,95.0,5.76
2000-01-06,453.0,0,500.0,0.0,494.0,0.0,NaN,29.831206,-0.4,90.0,2.16
2000-01-07,438.0,0,489.0,0.0,482.0,0.0,NaN,29.937514,-1.1,87.0,5.04
2000-01-08,431.0,0,479.0,0.0,469.0,0.0,NaN,29.925702,-2.3,87.0,6.84
2000-01-09,412.0,0,473.0,0.0,455.0,0.0,NaN,29.899125,-3.2,87.0,2.88
2000-01-10,391.0,0,446.0,0.0,433.0,0.0,0.0,30.040869,-2.8,89.0,5.04
2000-01-11,364.0,0,424.0,0.0,409.0,0.0,0.0,30.170801,-1.0,89.0,5.04
2000-01-12,343.0,0,404.0,0.0,390.0,0.0,0.0,30.123553,0.2,80.0,5.04
2000-01-13,334.0,0,396.0,0.0,380.0,0.0,0.0,29.949326,-0.1,69.0,19.08
2000-01-14,326.0,0,384.0,0.0,370.0,0.0,NaN,29.848924,-0.3,70.0,21.60
2000-01-15,309.0,0,372.0,0.0,356.0,0.0,NaN,29.890266,-2.1,82.0,6.84

In [75]:
# Create a sample dataframe
#df = pd.DataFrame({'col': [1, 3, 4, 5, 6, 7, 8, 9]})

# Define the specific values
values = [412.0, 391.0, 364.0]

# Find the rows corresponding to the specific values
#result = df[df['belgrade_water_level_cm'].isin(values)]
#print(result)
#print(result['belgrade_water_level_cm'])

x1, x2, x3 = values
keep = []
for i in range(len(df) - 2):
    if (df['belgrade_water_level_cm'][i] == x1) & (df['belgrade_water_level_cm'][i+1] == x2) &\
                                                      (df['belgrade_water_level_cm'][i+2] == x3):
        #keep.append(df.iloc[i,0:1])
        #keep.append(df.iloc[i+1,0:1])
        #keep.append(df.iloc[i+2,0:1])
        keep.append(i)
        keep.append(i+1)
        keep.append(i+2)
        
        
#print(pd.DataFrame(keep))
print(keep)
    

# Check if there are three consecutive values in the result
#if set(result['belgrade_water_level_cm']) == set(values) and len(result) == len(values):
#    print(result)
#else:
#    print('too many rows')
 

#####################################################################
#This code does the following:

#   Creates a sample dataframe with one column called 'col'.
#    Defines the specific values to be [3, 4, 5].
#    Finds the rows corresponding to the specific values using the isin() method of pandas dataframe.
#    Checks if the set of values in the result matches the set of specific values and if the length of the result matches the length of the specific values.
#    If the condition in step 4 is met, the code prints the rows in the result.

#For example, given the dataframe df with column col as [1, 3, 4, 5, 6, 8, 9] and the specific values set to [3, 4, 5], the output of this code will be:

#   col
#1    3
#2    4
#3    5

#These are the rows that correspond to the specific values [3, 4, 5].

[8, 9, 10]

In [48]:
values = [461.0, 474.0, 478.0]
x1, x2, x3 = values
x1

461.0

In [76]:
path = "../OMDENA CHAPTERS/DATA/NEW_DATA/merged_wtr-level_alerts_precip_hum_temp_press_wind_with-NaN_v4.csv"

df = pd.read_csv(path, index_col = 'date', parse_dates =  True)
df.head(15)

,belgrade_water_level_cm,belgrade_flood_alert,pancevo_water_level_cm,pancevo_flood_alert,zemun_water_level_cm,zemun_flood_alert,belgrade_precipitation_mm,belgrade_pressure_hg,belgrade_temperature_c,belgrade_humidity_pct,belgrade_windspeed_kph
date,,,,,,,,,,,
2000-01-01,461.0,0,503.0,0.0,502.0,0.0,NaN,29.840065,-2.6,89.0,11.52
2000-01-02,474.0,0,516.0,0.0,516.0,0.0,0.0,29.925702,-1.3,85.0,5.04
2000-01-03,478.0,0,520.0,0.0,520.0,0.0,0.0,29.946373,-1.1,83.0,5.04
2000-01-04,474.0,0,517.0,0.0,516.0,0.0,NaN,29.792817,-1.4,93.0,2.16
2000-01-05,464.0,0,513.0,0.0,508.0,0.0,NaN,29.783958,-0.9,95.0,5.76
2000-01-06,453.0,0,500.0,0.0,494.0,0.0,NaN,29.831206,-0.4,90.0,2.16
2000-01-07,438.0,0,489.0,0.0,482.0,0.0,NaN,29.937514,-1.1,87.0,5.04
2000-01-08,431.0,0,479.0,0.0,469.0,0.0,NaN,29.925702,-2.3,87.0,6.84
2000-01-09,412.0,0,473.0,0.0,455.0,0.0,NaN,29.899125,-3.2,87.0,2.88
2000-01-10,391.0,0,446.0,0.0,433.0,0.0,0.0,30.040869,-2.8,89.0,5.04
2000-01-11,364.0,0,424.0,0.0,409.0,0.0,0.0,30.170801,-1.0,89.0,5.04
2000-01-12,343.0,0,404.0,0.0,390.0,0.0,0.0,30.123553,0.2,80.0,5.04
2000-01-13,334.0,0,396.0,0.0,380.0,0.0,0.0,29.949326,-0.1,69.0,19.08
2000-01-14,326.0,0,384.0,0.0,370.0,0.0,NaN,29.848924,-0.3,70.0,21.60
2000-01-15,309.0,0,372.0,0.0,356.0,0.0,NaN,29.890266,-2.1,82.0,6.84

In [78]:
data_file = pd.DataFrame(df['2010-01-01':'2020-12-31']['belgrade_water_level_cm'])
data_file.head()

            belgrade_water_level_cm
date
2010-01-01                    447.0
2010-01-02                    452.0
2010-01-03                    454.0
2010-01-04                    455.0
2010-01-05                    459.0

In [92]:
type(data_file)

pandas.core.frame.DataFrame

In [110]:
n_steps = 4

# split into train and test sets
train_size = int(len(data_file) * 0.75)
test_size = len(data_file) - train_size
train_file, test_file = data_file[0:train_size], data_file[train_size : len(data_file)]
print(test_file)

print('Length of training set: ',len(train_file), 'Length test set: ', len(test_file))

# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
 # find the end of this pattern
        end_ix = i + n_steps
 # check if we are beyond the sequence
        if end_ix > len(sequence)-1:
            break
 # gather input and output parts of the pattern
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)

    return array(X), array(y)

trainX, trainY = split_sequence(train_file['belgrade_water_level_cm'], n_steps)
testX, testY   = split_sequence(test_file['belgrade_water_level_cm'], n_steps)

print('hello there!')
 
    
testX_df = pd.DataFrame (testX, columns = ['lag{}'.format(i+1) for i in range(n_steps)])
testY_df = pd.DataFrame(testY)
testY_df.columns = ['Values to be predicted']
test_total = pd.concat([testX_df, testY_df], axis=1)
test_total.head(15)

            belgrade_water_level_cm
date
2018-04-02                    489.0
2018-04-03                    489.0
2018-04-04                    496.0
2018-04-05                    504.0
2018-04-06                    511.0
...                             ...
2020-12-27                    272.0
2020-12-28                    277.0
2020-12-29                    283.0
2020-12-30                    289.0
2020-12-31                    294.0

[1005 rows x 1 columns]
Length of training set:  3013 Length test set:  1005
hello there!

     lag1   lag2   lag3   lag4  Values to be predicted
0   489.0  489.0  496.0  504.0                   511.0
1   489.0  496.0  504.0  511.0                   515.0
2   496.0  504.0  511.0  515.0                   517.0
3   504.0  511.0  515.0  517.0                   518.0
4   511.0  515.0  517.0  518.0                   516.0
5   515.0  517.0  518.0  516.0                   510.0
6   517.0  518.0  516.0  510.0                   505.0
7   518.0  516.0  510.0  505.0                   500.0
8   516.0  510.0  505.0  500.0                   494.0
9   510.0  505.0  500.0  494.0                   491.0
10  505.0  500.0  494.0  491.0                   487.0
11  500.0  494.0  491.0  487.0                   482.0
12  494.0  491.0  487.0  482.0                   476.0
13  491.0  487.0  482.0  476.0                   469.0
14  487.0  482.0  476.0  469.0                   463.0

In [111]:
test_total['Values to be predicted'][5]

510.0

In [106]:


nums = [504.0, 511.0, 515.0, 517.0]
nums_array= np.array(nums)
#x_input = nums_array
x_input  = nums
print('nums', nums)

x1, x2, x3, x4 = nums
#keep = []
for i in range(len(test_total) - 3):
    if (test_total['lag1'][i] == x1) & (test_total['lag2'][i] == x2) & (test_total['lag3'][i] == x3)\
        & (test_total['lag4'][i] == x4):
        
        index_num = i

print(test_total['Values to be predicted'][index_num])

nums [504.0, 511.0, 515.0, 517.0]
518.0

In [109]:
x_input = array([70, 80, 90])
#print(x_input)
x_input = x_input.reshape((1, 3, 1))
print(x_input)
#yhat = model.predict(x_input, verbose=0)

[[[70]
  [80]
  [90]]]